<!-- 登录成功后邮件 -->
<div style="padding: 3em .75em 2em; background: #f1f5fa">
  <div style="max-width: 660px; margin: 0 auto;font-family: 'PingFangSC-Regular', 'Helvetica', 'SimHei', 'Arial', 'Microsoft YaHei', 'sans-serif';">
    <div style="box-shadow: 0px 0px 10px 0px rgba(11, 13, 18, 0.1); border-radius: 6px 6px 0 0; overflow: hidden;">
      <!-- <div style="height: 42px;padding: 50px 0 50px 60px;">
    <img src="<%= ViewHelper.logo_url %>" style="vertical-align: middle;" alt=""/>
  </div> -->
      <div style="padding: 2em 1em; background: #ffffff;font-size:16px;">


        <h2 style="font-size: 1.5em; color: rgb(39, 50, 77); font-weight: bold; line-height: 1.5; margin: 0;">
          <%= I18n.t('email.login_succeeded.title') %>
        </h2>
        <p style="font-size: 1em; color: rgb(39, 50, 77); line-height: 1.5; margin: 12px 0 12px 0;">
          <%= I18n.t('email.shared.head') %>
        </p>
        <p style="font-size: 1em; color: rgb(39, 50, 77); line-height: 1.5; margin: 12px 0 12px 0;">
          <%= I18n.t('email.login_succeeded.line1', operation_time: Time.now.utc.to_s) %>
        </p>

        <div style="height: 36px"></div>
        <p style="font-size: 1em; color: rgb(39, 50, 77); line-height: 28px; margin: 0;"><%= I18n.t('email.shared.footer1') %></p>
        <p style="font-size: 1em; color: rgb(39, 50, 77); line-height: 28px; margin: 0;"><%= I18n.t('email.shared.footer2') %></p>
      </div>
    </div>
    <p style="text-align: center; line-height: 1.5; padding: 15px; font-size: 0.75em; color: #999999;"><%= I18n.t('email.shared.footer3') %></p>
  </div>
</div>
